extends layout

block include
    script(language="JavaScript" type="text/javascript" src='/js/modules/heatmap.js')
    script(language="JavaScript" type="text/javascript" src='/js/details/heatmap-time.js')
    script(language="JavaScript" type="text/javascript" src='/js/details/line-time.js')
    script(language="JavaScript" type="text/javascript" src='/js/details/api.calls.js')
    script(language="JavaScript" type="text/javascript" src='/js/details/update.js')
    script(language="JavaScript" type="text/javascript" src='/js/details/init.js')

block sub-tabs
    - var compare_period = ""
    - var compare_location = ""
    case compare_page
        when "period"
            - var compare_period = "cur"
        when "location"
            - var compare_location = "cur"
    ul.sub-dashboard
        li(class = compare_location)
            a(href="/compare/location/") Locations
            span.arrow
        li(class = compare_period)
            a(href="/compare/period/") Periods
            span.arrow

block dashboard-cards
    div.clearfix(style="margin: 16px 0 0 0;")

block content
    div.dashboard-container.dojoDndSource.dojoDndTarget.dojoDndContainer(id="dashboard-widgets")
        div.dojoDndItem.column.grid_16.dashboard-item(style="margin-right: 33px;height: 400px!important;")
            div.dashboard-widget.dojoDndHandle
                div.widget-loading.topApplicationGroup
                    div.widget-content
                        div.widget-label.clearfix
                            span.widget-block
                            span.widget-label-title Average Number of devices
                            div.dropdown.medium(style="position: absolute;top: -5px;left: 300px;")
                                button(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 35px;")
                                    span.init-text(id="button-heatmap") Engaged Clients
                                    span.caret
                                ul.dropdown-menu.medium(aria-labelledby="button-heatmap" id="myLoc")
                                    li(onclick="displayHeatmap(heatmapAssociatedClients, heatmapAssociatedClientsRange, 'Associated Clients')") Associated Clients
                                    li(onclick="displayHeatmap(heatmapEngagedClients, heatmapEngagedClientsRange, 'Engaged Clients')") Engaged Clients
                                    li(onclick="displayHeatmap(heatmapPassersbyClients, heatmapPassersbyClientsRange, 'Passersby Clients')") Passersby Clients
                                    li(onclick="displayHeatmap(heatmapUnassociatedClients, heatmapUnassociatedClientsRange, 'Unassociated Clients')") Unassociated Clients
                                    li(onclick="displayHeatmap(heatmapUniqueClients, heatmapUniqueClientsRange, 'Unique Clients')") Unique Clients
                        div.clearfix(id="heatmapEmpty")
                            div(style="text-align: center; line-height: 250px;") Data unavailable. Data is assembled each hour in one-hour intervals.
                        div.entity-loading-widget(id="heatmapLoading" style="display:none;")
                        div(id="heatmapData" style="display:none;")
                            div.grid_16(style="height: 250px;" id="heatmapChart")
        div.dojoDndItem.column.grid_16.dashboard-item(style="margin-right: 33px;height: 400px!important;")
            div.dashboard-widget.dojoDndHandle
                div.widget-loading.topApplicationGroup
                    div.widget-content
                        div.widget-label.clearfix
                            span.widget-block
                            span.widget-label-title Number of devices
                        div.clearfix(id="lineEmpty")
                            div(style="text-align: center; line-height: 250px;") Data unavailable. Data is assembled each hour in one-hour intervals.
                        div.entity-loading-widget(id="lineLoading" style="display:none;")
                        div(id="lineData" style="display:none;")
                            div.grid_16(style="height: 250px;" id="lineChart")




