extends layout

block include
    script(language="JavaScript" type="text/javascript" src='/js/highcharts-more.js')
    script(language="JavaScript" type="text/javascript" src='/js/compare/locationPolarAndBars.js')
    script(language="JavaScript" type="text/javascript" src='/js/compare/locationLine.js')
    script(language="JavaScript" type="text/javascript" src='/js/compare/update.js')
    script(language="JavaScript" type="text/javascript" src='/js/compare/init.js')

block sub-tabs
    - var compare_period = ""
    - var compare_location = ""
    case compare_page
        when "period"
            - var compare_period = "cur"
        when "location"
            - var compare_location = "cur"
    ul.sub-dashboard
        li(class = compare_location)
            a(href="/compare/location/") Locations
            span.arrow
        li(class = compare_period)
            a(href="/compare/period/") Periods
            span.arrow

block dashboard-cards
    div.clearfix(style="margin: 16px 0 0 0;")
