doctype html
html
    head
        title= title
        script(language="JavaScript" type="text/javascript" src='/js/jquery-2.1.1.min.js')
        script(language="JavaScript" type="text/javascript" src='/js/highcharts.js')
        script(language="JavaScript" type="text/javascript" src='/js/highcharts-more.js')
        script(language="JavaScript" type="text/javascript" src='/js/modules/heatmap.js')
        link(rel='stylesheet' href='/css/font-awesome.min.css')
        script(language="JavaScript" type="text/javascript" src='/js/bootstrap.min.js')
        link(rel='stylesheet' href='/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/ah-styles.min.css')
        link(rel='stylesheet' href='/css/ah-tm.dashboard.css')
        link(rel='stylesheet' href='/css/borderContainer.css')
        script(language="JavaScript" type="text/javascript" src='/js/jquery.datetimepicker.js')
        link(rel='stylesheet' href='/css/jquery.datetimepicker.css')
        script(language="JavaScript" type="text/javascript" src='/js/clienttimeseries.js')
        script(language="JavaScript" type="text/javascript" src='/js/locations.js')
        script(language="JavaScript" type="text/javascript" src='/js/heatmap.js')
    body.claro.fullaccess
        div.header(id="header")
            div.head-inner
                h1.logo
                    img.app-logo(src="/images/logo_nav.png" alt="Aerohive")
                div.login-area(id="appHeader")
                    ul.head-nav

            div.head-bottom
                div(style="width:1220px; margin: auto")
                    div.dropdown
                        button(id="button-location" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                            span.init-text(id="span-location")
                            span.caret
                        ul.dropdown-menu(aria-labelledby="button-location" id="aria-location")
        hr
        div.clearfix(id="main")
            div.pt-r
                div(id="container")
                    div.dijitContentPane.map-main.dijitBorderContainer-child.dijitBorderContainer-dijitContentPane.dijitBorderContainerPane.dijitAlignCenter
                        div.top-menu
                            span(style="display: inline-block; vertical-align: middle; margin-left: 0;")
                                div.dropdown
                                    button(id="button-month" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                        span.init-text(id="span-month")
                                        span.caret
                                    ul.dropdown-menu(aria-labelledby="button-month" id="myLoc")
                                        li(onclick="changeMonth(1, \'January\')") January
                                        li(onclick="changeMonth(2, \'February\')") February
                                        li(onclick="changeMonth(3, \'March\')") March
                                        li(onclick="changeMonth(4, \'April\')") April
                                        li(onclick="changeMonth(5, \'May\')") May
                                        li(onclick="changeMonth(6, \'June\')") June
                                        li(onclick="changeMonth(7, \'July\')") July
                                        li(onclick="changeMonth(8, \'August\')") August
                                        li(onclick="changeMonth(9, \'September\')") September
                                        li(onclick="changeMonth(10, \'October\')") October
                                        li(onclick="changeMonth(11, \'November\')") November
                                        li(onclick="changeMonth(12, \'December\')") December
                            span.separator.dropdown-title .
                            span(style="display: inline-block; vertical-align: middle; margin-left: 0;")
                                div.dropdown
                                    button(id="button-heatmap" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                        span.init-text(id="span-button") Engaged Clients
                                        span.caret
                                    ul.dropdown-menu(aria-labelledby="button-heatmap" id="myLoc")
                                        li(onclick="displayHeatmap(heatmapUniqueClients, heatmapUniqueClientsRange, 'Unique Clients')") Unique Clients
                                        li(onclick="displayHeatmap(heatmapEngagedClients, heatmapEngagedClientsRange, 'Engaged Clients')") Engaged Clients
                                        li(onclick="displayHeatmap(heatmapPassersbyClients, heatmapPassersbyClientsRange, 'Passersby Clients')") Passersby Clients
                                        li(onclick="displayHeatmap(heatmapAssociatedClients, heatmapAssociatedClientsRange, 'Associated Clients')") Associated Clients
                                        li(onclick="displayHeatmap(heatmapUnassociatedClients, heatmapUnassociatedClientsRange, 'Unassociated Clients')") Unassociated Clients
                            span.separator.dropdown-title .
                            button.blue-button(onclick="refresh1()")
                                i.fa.fa-refresh
                                span Refresh
                        div(id="heat" style="width:100%; height:400px;")
                            span Loading...
                        hr
                        div.top-menu
                            span.separator.dropdown-title .
                            span.dropdown-title From
                                input(id="fromDate" type="text")
                            span.separator.dropdown-title .
                            span.dropdown-title To
                                input(id="toDate" type="text")
                            span.separator.dropdown-title .
                            button.blue-button(onclick="refresh2()")
                                i.fa.fa-refresh
                                span Refresh
                        hr.dropdown-hr
                        div(id="clienttimeseries" style="width:100%; height:400px;")
                            span Loading...
                        hr.dropdown-hr




        script.
            var locations = {};
            var locationAnalytics = "";
            var fromDate = "";
            var toDate = "";
            var monthCharts = 1;
            function refresh1() {
                heatmap();
                displayMainChart();
            }
            function refresh2() {
                displayMainChart();
            }


            $('#fromDate').datetimepicker({
                onShow: function (ct) {
                    this.setOptions({
                        maxDate: jQuery('#toDate').val().split(" ")[0] ? jQuery('#toDate').val().split(" ")[0] : false
                    })
                },
                onChangeDateTime: function (dp, $input) {
                    fromDate = new Date($input.val());
                }
            });
            $('#toDate').datetimepicker({
                onShow: function (ct) {
                    this.setOptions({
                        minDate: jQuery('#fromDate').val().split(" ")[0] ? jQuery('#fromDate').val().split(" ")[0] : false
                    })
                },
                onChangeDateTime: function (dp, $input) {
                    toDate = new Date($input.val());
                }
            });
            function changeMonth(fromMonth, month) {
                var fromYear = 2016;
                var toYear = 2016;
                var toMonth = fromMonth + 1;
                if (fromMonth < 10) fromMonth = "0"+fromMonth;
                if (toMonth > 12) {
                    toMonth = 1;
                    toYear ++;
                }
                fromDate = new Date(fromYear+"/"+fromMonth+"/01 00:00");
                toDate = new Date(toYear+"/"+toMonth+"/01 00:00");
                $("#span-month").html(month);
                monthCharts = fromMonth;
                $('#fromDate').datetimepicker({
                    value: fromDate,
                    onShow: function (ct) {
                        this.setOptions({
                            maxDate: jQuery('#toDate').val().split(" ")[0] ? jQuery('#toDate').val().split(" ")[0] : false
                        })
                    },
                    onChangeDateTime: function (dp, $input) {
                        fromDate = new Date($input.val());
                    }
                });
                $('#toDate').datetimepicker({
                    value: toDate,
                    onShow: function (ct) {
                        this.setOptions({
                            minDate: jQuery('#fromDate').val().split(" ")[0] ? jQuery('#fromDate').val().split(" ")[0] : false
                        })
                    },
                    onChangeDateTime: function (dp, $input) {
                        toDate = new Date($input.val());
                    }
                });
            }
            getLocations();


