/*============================================== /
/ ================== DROPDOWN ================== /
/ ============================================== */



.dropdown-menu > li {
    padding: 0.2em;
    border-bottom: 1px solid #2C3E50;
    color: #2C3E50;
    transition:all .05s ease-in-out;

}


.dropdown-menu > li:hover,
.dropdown-menu > li:hover > i,
.dropdown-menu > li:hover > div > i{
    background-color: #28B463;
    color: #FFF;
    cursor: pointer;
    transition:all .05s ease-in-out;

}

ul.dropdown-menu {
    margin: 0;
    padding: 0;
    height: auto;
    overflow-x: hidden;
    border-radius: 0;

}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}
.dropdown button{
    background-color: #28B463;
    color: #FFF;
    margin-top: 0.34em;
    border: none;
}
.dropdown button, .dropdown li {
    transition:all .2s ease-in-out;
}
.dropdown button:hover {
    background-color: #2ECC71;
    box-shadow: 0 0 1px 1px rgba(100,100,100,0.5) inset;
    transition:all .2s ease-in-out;
}


.dropdown {
    vertical-align: middle;
    display: inline-block;
}

.dropdown>button>span {
    float: left;
}
.dropdown>button>div {
    float: right;
}

.dropdown>button.disabled {
    border: 1px solid #ccc !important;
    outline: none !important;
    color: #999;
}
.dropdown-menu > li {
    padding: 1em;
    border-bottom: 1px solid #2ECC71;
}
.dropdown-menu>li>a {
    padding: 5px 0 5px 10px;
}
.dropdown-menu>li>a:hover,
.dropdown.open>button {
    background-color: #2ECC71;
    box-shadow: 0 0 1px 1px rgba(100,100,100,0.5) inset;
    color: #FFF;
}
.dropdown .caret {
    float: right !important;
    border-top: 4px solid #fff;
    margin-top: 4px;
}
/* ============== DROPDOWN SIZES ============== */
.dropdown-100 {
    height: 28px;
    width: 100px;
    min-width: 100px !important;
}
.dropdown-100p {
    width: 100%;
}
.dropdown-160 {
    height: 28px;
    width: 160px;
}
.dropdown-200 {
    height: 28px;
    width: 200px;
}
.dropdown-323, .dropdown-323 li{
    height: 50px;
    width: 323px;
}


.dropdown-title {
    background-color: gray;
    color: white;
    padding: 0;
    float: left;
    margin: 0;
    cursor: default;
}

.dropdown-title > input {
    margin: 0;
    height: 3em;
}
.dropdown-hr {
    margin: 0;
}