html,body {
    height:100%;
    background-color: #2C3E50;
}

.LoginPage {
    background-color: #2C3E50;
}

.login-box {
    border-radius: 100px 20px;
}

.login-form button {
    width: 323px;
    border: none;
    padding: 1em 1em 1em 18px;
    background-color: #28B463;
    color: #fff;
    transition:all .2s ease-in-out;
}
.login-form button:hover {
    background-color: #2ECC71;
    box-shadow: 0 0 1px 1px rgba(100,100,100,0.5) inset;
    transition:all .2s ease-in-out;
}
.login-form input {
    width: 323px !important;
}


.LoginPage .login-box {
    height: 520px;
}
.LoginPage .leftColumn input[type='text'] {
    color:    #2C3E50 !important;
}
input::-webkit-input-placeholder
{
    color:    #909090;
}
input:-moz-placeholder
{
    color:    #909090;
}
input::-moz-placeholder
{
    color:    #909090;
}
input:-ms-input-placeholder
{
    color:    #909090;
}
.LoginPage .leftColumn h1 {
    margin-left: 38px;
    margin-bottom: 58px;
    margin-top: 30px;
}

.init-text {
    float: left;
}

.caret {
    float: right;
}


ul.dropdown-menu {
    margin: 0;
    padding: 0;
    top: 49px;
    left: 54px;
    width: 323px;
    border-radius: 0;
}

.dropdown-menu > li {
    padding: 1em;
    border-bottom: 1px solid #789FB6;
}

.dropdown-menu > li:hover {
    background-color: #28B463;
    color: #FFF;
    cursor: pointer;
}