html {
    background-color: #F0F0F4   ;
}

body {
    background-color: transparent;
    width: 100%;
    color: #000000;
    font-size: 12px !important;

}

hr {
    margin: 1em 0 1em 0;
    border: 1px solid #3694D1;
}

table, th, td {
    border-color: #FFA500;
}
/*============================================== /
/ ==================== HEADER=================== /
/ ============================================== */
header {
    position: fixed;
    border-bottom: 1px solid #FFA500;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #3694D1;
    z-index: 15;
}
header #logo {
    height: 50px;
    padding: 10px;
    position: absolute;
    left: 5px;
}
header #ah-tm {
    position: absolute;
    color: #EDAF24;
    top: 25px;
    right: 10px;
}
/*============================================== /
/ ===================== NAV ==================== /
/ ============================================== */
nav {
    position: fixed;
    left: 0;
    top: 50px;
    background-color: #3694D1;
    border-radius: 0;
    width: 160px;
    height: 100%;
    float: left;
    display: inline;
    margin: 0;
    padding: 0;
}

nav a:hover{
    color: #3694D1;
    background-color: #EAF1F4 !important;
    border-radius: 0;

}
nav a {
    display: block;
    color: #DCDDDE;
    background-color: #3694D1;
    border-radius: 0;
}
nav a.selected {
    border-radius: 0;
    color: #000000;
    background-color: #F0F0F4 !important;
    /*box-shadow: 50px 0 50px 0 rgba(200,200,200,0.1);*/
}

.list {
    font-weight: normal !important;
}

/*============================================== /
/ ================== SECTION== ================= /
/ ============================================== */

section {
    padding-left: 190px;
    padding-top: 50px;
    padding-bottom: 50px;
}

img {
    padding: 1em;
}

nav.main {
    width: 100%;
    border: 0 !important;
}

.main.console {
    margin-bottom: 160px;
}

nav p {
    font-size: 0.7em;
    margin: auto;
}

aside {
    background-color: white;
}
/*============================================== /
/ =================== ACTION =================== /
/ ============================================== */
article.action {
    position: relative;
    width: 100%;
    padding-top: 25px;
    padding-left: 70px;
    padding-right: 70px;
}
article.action.console {
}
.back {
    float: left;
}
.next {
    float: right;
}

/*============================================== /
/ ================= SPAN BADGED ================ /
/ ============================================== */

.span-disabled {
    background-color: #adadad;
}
.span-disabled a {
    color: white;
    text-decoration: none !important;
    font-weight: normal !important;
}

.span-enabled {
    background-color: #FFA500;
}
.span-enabled a {
    color: white;
    text-decoration: none !important;
    font-weight: normal !important;
}

/*============================================== /
/ ================= BREADCRUMB ================= /
/ ============================================== */
.breadcrumb-table {
    width: 95%;
    padding: 1em 0;
    margin: 2em auto;
    font-weight: normal;
    text-align: center;
    position: relative;
}
.breadcrumb-row {
    width: 100%;
    position: relative;
}
.breadcrumb-row:after {
    content: "";
    z-index: -1;
    height: 0;
    top: 68%;
    position: absolute;
    border-top: 2px solid #3694D1;
}
.breadcrumb-row.firewall:after {
    width: 66%;
    left: 17%;
}
.breadcrumb-row.depl:after {
    width: 75%;
    left: 12%;
}
.breadcrumb-row i {
    position: relative;
    background-color: #F0F0F4;
    color: #3694D1;
}
.breadcrumb-table.firewall td {
    width: 33%;
}
.breadcrumb-table.depl td {
    width: 25%;
}
/*============================================== /
/ ================== FIREWALL ================== /
/ ============================================== */
.firewall-test-result {
    text-align: center;
}
button.btn {
    background-color: #3694D1 !important;
    color: white !important;
    font-weight: bold !important;
    border: 0 !important;
    box-shadow: 0 !important;
    border-radius: 0 !important;
    margin: 0 1em;
    padding: 5px 1em;
}
button.btn:hover {
    background-color: #166EB7 !important;
}

button.btn.disabled, button.btn.disabled:hover {
    background-color: #939598 !important;
}
label.disabled {
    color: #939598 !important;
}
input.chkbox {
    margin: 0 1em 0 -2em;

}
input {
    border: 1px solid #999!important;
    line-height: 25px !important;
    padding: 0 10px !important;
}

/*============================================== /
/ ================== DROPDOWN ================== /
/ ============================================== */
.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}
.dropdown>button, .dropdown>button:hover {
    background-color: #FFF ;
    color: #5A5A5A ;
    font-weight: bold !important;
    border: 1px solid #999 !important;
    box-shadow: 0 !important;
    border-radius: 0 !important;
    margin: 0 1em;
    padding: 0 1em;
    height: 28px;
    width: 160px;
}
.dropdown-menu {
    font: inherit;
    width: 160px;
    border-radius: 0;
    left: 12px;
    top: 25px;
    padding: 0;
}
.dropdown {
    vertical-align: middle;
    display: inline-block;
}
.dropdown>button{
    transition:all .2s ease-in-out
}
.dropdown>button>span {
    float: left;
}
.dropdown>button>div {
    float: right;
}
.dropdown-menu>li>a {
    padding: 5px 0 5px 10px;
}

.dropdown>button:focus {
    border: 1px solid #333333 !important;
    outline: none !important;
}
.dropdown>button.disabled {
    border: 1px solid #ccc !important;
    outline: none !important;
    color: #999;
}
.dropdown-menu>li>a:hover,
.dropdown.open>button {
    border: 0px solid #789FB6;
    background-color: #789FB6;
    color: #FFF;
}
i.fa.depl {
    min-width: 200px;
    margin: 1em 0;
}
i.fa.depl.disabled {
    color: gray;
}
i.fa.enabled {
    color:#3694D1;
}
i.fa.enabled>span {
    color: #000;
}
.depl.dropdown {
    margin-left: -1em;
}
.depl.input-group {
    width: 320px;
    display: inline-table;
    vertical-align: middle;
    margin: 5px 0;

}
.depl.input-group.first {
    margin-left: 200px;
}
/*============================================== /
/ ================== TABLE ===================== /
/ ============================================== */
.ah-tm-table {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
}
.ah-tm-table>thead>tr>th, .ah-tm-table>tbody>tr>td {
    padding: 5px;
}
.ah-tm-table>thead>tr {
    border-bottom: 2px solid gray;
}
.ah-tm-table>tbody>tr.selected,
.ah-tm-table>tbody>tr.selected:hover {
    background-color: #FFA500;
    cursor: default;
}
.ah-tm-table>tbody>tr:hover {
 background-color: white;
    cursor: default;
}
.ah-tm-table>tbody>tr>td>.ah-tm-table-input.disabled,
.ah-tm-table>tbody>tr>td>.ah-tm-table-input.disabled:focus
.ah-tm-table>tbody>tr:hover>td>.ah-tm-table-input.disabled,
.ah-tm-table>tbody>tr:hover>td>.ah-tm-table-input.disabled:focus {
    background-color: #F0F0F4;
}
.ah-tm-table>tbody>tr {
    border: 1px solid transparent;
    border-top: 1px solid gray;
}

.ah-tm-table>tbody>tr.isNotValid {
    border: 1px solid transparent !important;
    border-top: 1px solid gray !important;
}
.ah-tm-table-input {
    background-color: rgb(240, 240, 244);
    border: 0 solid transparent;
    border-bottom: 1px solid gray;
    text-align: end;
}
.ah-tm-table-input, .ah-tm-table-input:focus {
    background-color: white;
}

.ah-tm-table>tbody>tr>td {
    vertical-align: middle;
}
.ah-tm-table>tbody>tr>td.icon {
    text-align: center;
}
/*============================================== /
/ ================== INPUT ===================== /
/ ============================================== */
/*.isValid {
    border: 1px solid #3694D1 !important;
    color: #3694D1;
}*/
.isNotValid {
    border: 1px solid #c6403d !important;
    color: #c6403d;
}

.ah-tm-group {
    border: 1px solid rgba(205, 205, 205, 1);
    color: gray;
    background-color: white;
    text-align: center;
    padding: 1em;
    margin: 1em;
}
.ah-tm-group.half {
    float: left;
    margin: 0 1em;
    width: 40%;
}
.ah-tm-group.half.left {
    float: left;
}
.ah-tm-group.half.right {
    float: right;
}
.ah-tm-group > input {
    margin-top: 1em;

    transition:all .2s ease-in-out;
}
.ah-tm-group > div {
    width: 90%;
    margin: 1em auto 0 auto;
}
.ah-tm-group.disabled:hover{
    border: 1px solid #FFA500;
}
.ah-tm-group.enabled {
    background-color: #FFA500;
    color: white;
    border: 1px solid #FFA500 !important;

}
span.ah-tm-group-addon {
    font-size: 12px;
    margin: 0 0 0 1em;
    pointer-events: none;
    vertical-align: middle;
}
.ah-tm-group-addon.disabled:hover {
    border-color: #FFA500;
}
.ah-tm-group-addon > i {
    margin: 0 1em 0 0;
}
input.form-control, span.input-group-addon {
    border-radius: 0;
    font-size: 12px !important;

    transition:all .2s ease-in-out
}
/*============================================== /
/ ================== UPDATE ================== /
/ ============================================== */

/*============================================== /
/ ================== UPDATE ================== /
/ ============================================== */

hr.history {
    border-color: gray;
    margin-left: 15em;
    margin-right: 15em;
}
.release-note {
    width: 80%;
    margin: auto;
    padding: 1em;
    background-color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5) inset !important;
}
.cancelDL {
    color: white;
}
.cancelDL-disabled {
    color: #adadad;
    pointer-events: none;
}

.progress {
    width:75%;
    border: 1px solid #939598;
}
.progress.update {
    margin: 0 2em;
    float: left;
}
.progress.depl {
    margin: auto;
}
/*============================================== /
/ ================== LICENSE =================== /
/ ============================================== */
.license {
    width: 90%;
    padding: 1em;
    background-color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5) inset !important;
    font-family: monospace;
    color: black;
    margin: 1em auto;
}
/*============================================== /
/ ================= lIST-GROUP ================= /
/ ============================================== */
.list-group {
    width: 80%;
    margin: auto;
    transition:all .2s ease-in-out
}

.list-group-item {
    background-color: #ffffff !important;
    color: #393939 !important;
    border: 1px solid #CCCCCC!important;
    border-radius: 0 !important;
    margin: 5px auto;
}

.list-group-item:hover {
    border-color: #FFA500 !important;
}

.list-group-item.active:hover,
.list-group-item.active {
    background-color: #FFA500 !important;
    border: 1px solid #FFA500 !important;
}

.list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active .list-group-item-heading,
.list-group-item.active .list-group-item-text {
    color: white !important;
}
.list-group-item:hover .list-group-item-heading,
.list-group-item:hover .list-group-item-text,
.list-group-item .list-group-item-heading,
.list-group-item .list-group-item-text{
    color: #393939 !important;
}
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active .list-group-item-text,
.list-group-item:hover .list-group-item-text,
.list-group-item .list-group-item-text{
    opacity: 0.8 !important;
    font-size: 0.9em !important;
}

/*============================================== /
/ =================== DHCP ===================== /
/ ============================================== */
.dhcp-container {
    margin: auto;
    display: inline-block;
}
.input-group.dhcp {
    float: left;
    margin: 0.5em 2em 0.5em 2em;
    width: 320px;
    display: inline-table;
    vertical-align: middle;
}
.input-group.dhcp-server{
    margin-left: 2em;
}
.input-group.dhcp-checkbox{
    width: 100%;
    margin: 0 0 2em 2em;
}
.radio.dhcp{
    display: inline;
    margin: 0 0 0 2em;
}
.dropdown.dhcp {
    margin-left: 158px;
}
.dropdown.dhcp > button {
    width: 320px;
}
div.dhcp-server>div.dhcp {
    float: none;
    margin: 0.5em 0 0.5em 2em;
}
span.dropdown.dhcp>ul.dropdown-menu {
    width: 320px;
}
/*============================================== /
/ =================== FOOTER =================== /
/ ============================================== */
footer {
    bottom: 0;
    left: 0;
    position:fixed;
}

footer a, footer a:-webkit-any-link {
    position: fixed;
    left: 0;
    color: black;
    padding: 2px;
    font-size: 0.8em;
    background-color: #ccc;
    text-decoration: none;
}

footer a:hover {
    background-color: #222222;
    color: white;
    text-decoration: none;
}

footer.console a {
    bottom: 165px;
}
footer.no-console a {
    bottom: 0;
}
#console {
    position: fixed;
    left: 0;
    width: 100%;
    height: 165px;
    background-color: rgba(255,255,255,0.95);
    overflow-y: auto;
    z-index: 15;

}
#console.console {
    bottom: 0;
}
#console.no-console {
    bottom: -165px;
}


