
body {
    font: 12px helvetica,arial,san-serif !important;
    margin: 0;
}




button.blue-button {
    background-color: #0092D1;
    color: #FFF;
    border: medium none;
    padding: 1em;
    margin-left: auto;
    margin-right: 0px;
}
button.blue-button > i {
    color: white;
}

.dashboard-title {
    padding: 5px;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 8px;
    margin-top: 8px;
    font-weight: 500;
    color: #F7B60F;
}

.dashboard-item {
    transition:all .2s ease-in-out;
}

span.dashboard-span,
span.dashboard-span > i{
    text-align: center;
    font-size: 12px;
    color: gray;
    margin: 5px;
}
span.dashboard-span{
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: 0;
}
.dashboard-card > ul {
    display: block;
    width:100%;
    margin: 0px;
    padding: 0px;
}

.dashboard-card > ul > li {
    display: inline-block;
    width: 33%;
    text-align: center;
}

.dashboard-card-icon > a {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    text-decoration: underline;
    cursor: pointer;
    color: #73D5D8;
}
.dashboard-main {
    width: 980px;
}

.entity-page-body-top-border {
    height: 5px;
    border-bottom: 2px solid #7a9fb8;
    position: relative;
    width: 100%;
}

.entity-timeline-loading {
    min-height: 100px !important;
    background-image: url(../images/common/loading/grid_loading.gif);
    background-position: center center;
    background-repeat: no-repeat;
}

span.widget-label-title {
    font-size: 16px !important;
    text-transform: uppercase !important;
    color: #000 !important;
    border-bottom: 1px solid #DDD !important;
    margin-bottom: 5px !important;
    background: #f0f0f4 !important;
    height: 35px !important;
    width: 100% !important;
    text-align: left !important;
    padding-top: 10px;
    display: block;
}

.widget-content .widget-label {
    cursor: default ;
}

li.location {
    background-color: white;
}

.entity-loading {
    min-height: 100px !important;
    background-image: url(../images/common/loading/grid_loading.gif);
    background-position: center center;
    background-repeat: no-repeat;
}
.entity-loading-widget {
    min-height: 250px !important;
    background-image: url(../images/common/loading/grid_loading.gif);
    background-position: center center;
    background-repeat: no-repeat;
}
.widget-section{
    width: 215px !important;
    height: 60px;
    margin: 10px 0 15px 0;
    background: #eaf1f4;
    font-size: 11px;
    line-height: 13px;
}
.widget-section.bestLoc {
    margin: 0 0 5px 0;
    width: 100% ! important;
}
.compare {
    height: 30px;
    text-align: left;
    line-height: 30px !important;
    padding-left: 5px;
    font: 12px helvetica,arial,san-serif;
    vertical-align: middle;
}
span.compare {
    font-weight: bold;
    text-transform: uppercase;
}
.widget-number {
    position: relative;
    top: 0;
    left: 0;
    padding-top: 4px;
    background: #cae4ea;
    display: inline-block;
    line-height: 60px;
    width: 80px;
    text-align: center;
    font-size: 20px;
    color: #1b1464;
    height: 60px;
    float: left;
    font-weight: bold;
}

.widget-info {
    width: 80px;
    height: 60px;
    line-height: 60px;
    font-size: 13px;
    padding-top: 0;
    padding-left: 10px;
    position: relative;
    vertical-align: middle;
}

.widget-li {
    line-height: 30px;
    height: 20px;
    width: 60px;
    margin: auto;
}

.widget-label:hover .health-progress-bar-help {
    display: block;
}
.health-progress-bar-help {
    right: 3px;
}
.health-progress-help-info {
    width: 250px;
    left: 250px;
    top: 30px;
    z-index: 100;
    font: 12px helvetica,arial,san-serif;
    text-transform: none;
}
.health-progress-help-info-rect {
    left: 208px;
    top: -5px;
    border-left: 8px solid transparent;
    border-bottom: 10px solid #f2f7fa;
    border-right: 8px solid transparent;
}

.entity-timeline-bar-time {
    margin-top: 0;
}

.modal,
.btn {
    border-radius: 0;
}
.btn-primary {
    color: #fff !important;
}
.ui-tab-active .arrow-left{
    margin-left: -1px !important;
}
.ui-tab-active .arrow-left::before {
    left: 0;
}
.ui-tab-active .arrow-left::after {
    left: -2px;
}

.user-list li a {
    color: #fff;
    margin: 0;
    display: block;
    width: 100%;
    height: 100%;
}
.user-list li a:hover {
    color: #9de7f9;
    text-decoration-line: inherit;
}

span.help-tip::before {
    border-left: 8px solid #525252 !important;
}
span.help-tip {
    background-color: #525252 !important;
    border-radius: 0 !important;
    border: 1px solid silver !important;
    color: #fff !important;
    height: 25px !important;
}

table {
    width: 100% !important;
    font-size: 12px !important;

}
.table tbody tr:hover {
    background-color: #fff8ea;
    transition:all 0.2s ease-in-out;

}
.table tbody tr {
    transition:all 0.2s ease-in-out;
}
table td {
    cursor: default;
}

.ui-select-card {
    transition:all 0.1s ease-in-out;
}
.ui-select-card:hover {
    border-color: orange;
    transition:all 0.1s ease-in-out;
}

table tfoot td {
    margin: 0 !important;
    padding: 0 !important;
}

ul.pagination {
    margin: 0 !important;
}

.progress {
    border-radius: 0;
    margin-top: 20px;
}

.progress-bar {
    height: 100%;
    text-align: center;
    background-color:#62c462;

}
input.invalid,textarea.invalid,select.invalid {
    color:#b94a48;
    border-color:#ee5f5b
}

/*============================================== /
/ =================== CUSTOM FA ================ /
/ ============================================== */

.fa-stack.fa-lg.tm{
    cursor: default;
    font-size: small;
}

.tooltip.customClass .tooltip-inner {
    text-align: left;
}

.tooltip.customClass .green {
    color: #75D064;
}
.tooltip.customClass .yellow {
    color: #FFCF5C;
}
.tooltip.customClass .red {
    color: #d04d49;
}