.grid_1 {
    width:42px
}
.grid_2 {
    width:104px
}
.grid_3 {
    width:166px
}
.grid_3_2 {
    width:180px
}
.grid_3_3 {
    width:198px
}
.grid_4 {
    width:228px
}
.grid_5 {
    width:290px
}
.grid_5_1 {
    width:310px
}
.grid_6 {
    width:352px
}
.grid_7 {
    width:414px
}
.grid_7_2 {
    width:430px
}
.grid_8 {
    width:476px
}
.grid_9 {
    width:538px
}
.grid_10 {
    width:600px
}
.grid_11 {
    width:662px
}
.grid_12 {
    width:724px
}
.grid_13 {
    width:786px
}
.grid_14 {
    width:848px
}
.grid_15 {
    width:910px
}
.grid_16 {
    width:972px
}
.grid_17 {
    width:1034px
}
.grid_18 {
    width:1096px
}
.grid_19 {
    width:1158px
}
.grid_20 {
    width:1220px
}

.input_1 {
    width:20px
}
.input_2 {
    width:82px
}
.input_2_1 {
    width:100px
}
.input_3 {
    width:144px
}
.input_4 {
    width:206px
}
.input_5 {
    width:268px
}
.input_6 {
    width:330px
}
.input_7 {
    width:392px
}
.input_8 {
    width:454px
}
.input_9 {
    width:516px
}
.input_10 {
    width:568px
}


.grid_50p {
    width: 50%;
    min-width: 400px;
    padding: 10px;
    margin: 0 auto;
}
.grid_50ps {
    width: 50%;
    padding: 10px;
    margin: 0 auto;
}
.grid_100p {
    width: 100%;
    min-width: 700px;
    padding: 10px;
    margin: 0 auto;
}
.grid_100ps {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}
.grid {
    padding: 10px;
    margin: 0 auto;
}

.grid_fl {
    float: left;
}