input.form-control, span.input-group-addon {
    border-radius: 0;
    font-size: 12px !important;

    transition:all .2s ease-in-out
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus,textarea:focus,select:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}


input.chkbox {
    margin: 0 1em 0 -2em;

}
input[type=text] {
    border: 1px solid #999;
    line-height: 25px;
    padding: 0 10px;
}



/*============================================== /
/ ==================  BUTTON  ================== /
/ ============================================== */

button:focus, input.button:focus {
    outline: none;
}

button, input.button {
    border: none;
    background-color: #28B463;
    color: #fff;
    border-radius: 0;
    display: inline-block;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    font-family: Helvetica;
    letter-spacing: 1px;
    -moz-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 15px;
    position: relative;
    border: 0;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
}
button span, input.button span,
button i, input.button i{
    text-decoration: none;
    color: white;
}
button.large, input.button.large{
    width: 323px;
    padding: 1em 1em 1em 18px;
}
button:hover, input.button:hover{
    background-color: #2ECC71;
    box-shadow: 0 0 1px 1px rgba(100,100,100,0.5) inset;
    transition:all .2s ease-in-out;
}
button:hover a, button:hover i {
    background-color: #2ECC71;
    text-decoration: none;
    transition:all .2s ease-in-out;
}

button.disabled, button.disabled:hover,
button[disabled], button[disabled]:hover,
input.button.disabled, input.button.disabled:hover,
input.button[disabled], input.button[disabled]:hover{
    background-color: #939598 !important;
    box-shadow: 0 0 1px 1px rgba(100,100,100,0.5) inset;
    transition:all .2s ease-in-out;
}
label.disabled {
    color: #939598 !important;
    transition:all .2s ease-in-out;
}

/*============================================== /
/ ==================  HREF  ================== /
/ ============================================== */

.cur a, .nav-item a:hover {
    text-decoration: none;
    background-color: #f7f7f7;
    color: #231f20;
}
a:link {
    color: #28B463;
}
a {
    color: #28B463;
    text-decoration: none !important;
}
a {
    background-color: transparent;
}


/*============================================== /
/ ================  SELECT  =============== /
/ ============================================== */

select {
    width: 220px;
    background-color: #fff;
    border: 1px solid #ccc;
}
select, input[type="file"] {
    height: 30px;
    *margin-top: 4px;
    line-height: 30px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    font-size: 14px;
    font-family: helvetica,arial,san-serif;
    line-height: 20px;
    color: #717174;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background-color: #fff;
    border: 1px solid #999;
    -webkit-transition: border linear .1s,box-shadow linear .1s;
    -moz-transition: border linear .1s,box-shadow linear .1s;
    -o-transition: border linear .1s,box-shadow linear .1s;
    transition: border linear .1s,box-shadow linear .1s;
}