#location-tree ul {
    padding-left: 15px;
}

.dropdown-menu {
    font-size: 12px;
}

.entity-timeline-column {
    float: left;
    display: inline;
}

.entity-timeline-show-label {
    margin-right: 5px;
    margin-top: 10px;
    font-size: 14px;
}

.entity-timeline-show-range {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 5px;
    font-size: 14px;
}

.entity-timeline-show-tab {
    margin-top: 3px;
}

.entity-radioset-list ul {
    height: 25px;
}

.entity-radioset-list ul, .entity-radioset-list ul li {
    float: left;
    display: inline-block;
}

.entity-radioset-list ul li {
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 2px;
    background-color: #d2d2d2;
    color: #393939;
    line-height: 25px;
}

.entity-radioset-list ul li.entity-radioset-cur {
    background-color: #28B463;
    color: #FFF;
}

.entity-timeline-show-time {
    margin-top: 25px;
    font-size: 15px;
    color: #393939;
    margin-left: 20px;
}

.entity-timeline-show-time span {
    font-weight: bold;
}

.chart-wrapper {
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;

}
.chart-inner {
}

ul, li{
    margin: 0;
    padding: 0;
}