
body {
    font: 12px helvetica,arial,san-serif;
}

.head-inner > .logo {
    margin: 0;
}

.dropdown button {
    width: 100px;
    border: none;
    padding: 0.5em 0.5em 0.2em 18px;
    background-color: #28B463;
    color: #FFF;
    margin-top: 0.34em;
    border-radius: 0 5px 0 0;
    transition:all .2s ease-in-out;
}

.dropdown.large button,
.dropdown.medium button,
.dropdown.tree button {
    padding: 1em 1em 1em 18px;
}

.dropdown button:hover {
    background-color: #2ECC71;
    box-shadow: 0 0 1px 1px rgba(100,100,100,0.5) inset;
    transition:all .2s ease-in-out;
}

.dropdown {
    width: 100px;
}
.dropdown.medium button,
ul.dropdown-menu.medium,
.dropdown.medium {
    width: 200px !important;

}
.dropdown.tree button,
ul.dropdown-menu.tree,
.dropdown.tree {
    width: 196px !important;
}
.dropdown.tree {
    height: 34px;
}

.dropdown.large button,
ul.dropdown-menu.large,
.dropdown.large,
.login-form input {
    width: 323px !important;
}

.init-text {
    float: left;
}

.caret {
    float: right;
    border-top: 4px solid #fff;}
.dropdown .caret {
    margin-top: 4px;
}

ul.dropdown-menu {
    margin: 0;
    padding: 0;
    width: 100px;
    min-width: 100px !important;
    height: auto;
    overflow-x: hidden;
    border-radius: 0;

}

.dropdown-menu > li {
    padding: 0.2em;
    border-bottom: 1px solid #789FB6;
    color: #000;
}
.dropdown-menu.large > li {
    padding: 1em;
}
.dropdown-menu.tree > li,
.dropdown-menu.medium > li {
    padding: 2px 0 2px 15px;
    font-size: 12px;
}
.dropdown-menu > li > span {
    margin-left: 15px;
}

.dropdown-menu > li:hover,
.dropdown-menu > li:hover > i,
.dropdown-menu > li:hover > div > i{
    background-color: #28B463;
    color: #FFF;
    cursor: pointer;
}

i.fa {
    margin-right: 1em;
    color: gray;
}

.dropdown-title {
    background-color: gray;
    color: white;
    padding: 0;
    float: left;
    margin: 0;
    cursor: default;
}

.dropdown-title > input {
    margin: 0;
    height: 3em;
}
.dropdown-hr {
    margin: 0;
}

span.separator {
    background-color: gray;
    width: 5em;
    color: gray;
}

.top-menu {
    display: inline-flex;
    width: 100%;
    background: gray;
}

button.blue-button {
    background-color: #0092D1;
    color: #FFF;
    border: medium none;
    padding: 1em;
    margin-left: auto;
    margin-right: 0px;
}
button.blue-button > i {
    color: white;
}

.dashboard-title {
    padding: 5px;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 8px;
    margin-top: 8px;
    font-weight: 500;
    color: #F7B60F;
}

.dashboard-item {
    transition:all .2s ease-in-out;
}

span.dashboard-span,
span.dashboard-span > i{
    text-align: center;
    font-size: 12px;
    color: #FFF;
}
span.dashboard-span{
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: 0;
}
.dashboard-card > ul {
    display: block;
    width:100%;
    margin: 0px;
    padding: 0px;
}

.dashboard-card > ul > li {
    display: inline-block;
    width: 33%;
    text-align: left;
}

.dashboard-card-icon > a {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    text-decoration: underline;
    cursor: pointer;
    color: #2ECC71;
}
.dashboard-card {
    width: 45% !important;
    margin: 0 1.6% !important;
}

.dashboard-main {
    width: 980px;
}

.entity-page-body-top-border {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 5px;
    border-bottom: 2px solid #7a9fb8;
    position: relative;
    width: 967px;
}

.entity-timeline-loading {
    min-height: 100px !important;
    background-image: url(../images/common/loading/grid_loading_gray.gif);
    background-position: center center;
    background-repeat: no-repeat;
}

span.widget-label-title {
    font-size: 16px !important;
    text-transform: uppercase !important;
    color: #fff !important;
    border-bottom: 1px solid #DDD !important;
    margin-bottom: 5px !important;
    background: #2C3E50 !important;
    height: 35px !important;
    width: 90% !important;
    text-align: left !important;
    padding-top: 10px;
    display: block;
}

.widget-content .widget-label {
    cursor: default ;
}

li.location {
    background-color: white;
}

.entity-loading {
    min-height: 100px !important;
    background-image: url(../images/common/loading/grid_loading_gray.gif);
    background-position: center center;
    background-repeat: no-repeat;
}
.entity-loading-widget {
    min-height: 250px !important;
    background-image: url(../images/common/loading/grid_loading_gray.gif);
    background-position: center center;
    background-repeat: no-repeat;
}
.widget-section{
    width: 215px !important;
    height: 60px;
    margin: 10px 0 15px 0;
    background: #eaf1f4;
    font-size: 11px;
    line-height: 13px;
}
.widget-section.bestLoc {
    margin: 0 0 5px 0;
    width: 100% ! important;
}
.compare {
    height: 30px;
    text-align: left;
    line-height: 30px !important;
    padding-left: 5px;
    font: 12px helvetica,arial,san-serif;
    vertical-align: middle;
}
span.compare {
    font-weight: bold;
    text-transform: uppercase;
}
.widget-number {
    position: relative;
    top: 0;
    left: 0;
    padding-top: 4px;
    background: #cae4ea;
    display: inline-block;
    line-height: 60px;
    width: 80px;
    text-align: center;
    font-size: 20px;
    color: #1b1464;
    height: 60px;
    float: left;
    font-weight: bold;
}

.widget-info {
    width: 80px;
    height: 60px;
    line-height: 60px;
    font-size: 13px;
    padding-top: 0;
    padding-left: 10px;
    position: relative;
    vertical-align: middle;
}

.widget-li {
    line-height: 30px;
    height: 20px;
    width: 60px;
    margin: auto;
}

.widget-label:hover .health-progress-bar-help {
    display: block;
}
.health-progress-bar-help {
    right: 3px;
}
.health-progress-help-info {
    width: 250px;
    left: 250px;
    top: 30px;
    z-index: 100;
    font: 12px helvetica,arial,san-serif;
    text-transform: none;
}
.health-progress-help-info-rect {
    left: 208px;
    top: -5px;
    border-left: 8px solid transparent;
    border-bottom: 10px solid #f2f7fa;
    border-right: 8px solid transparent;
}

.entity-timeline-bar-time {
    margin-top: 0;
}

.modal,
.btn {
    border-radius: 0;
}
.btn-primary {
    color: #fff !important;
}
.ui-tab-active .arrow-left{
    margin-left: -1px !important;
}
.ui-tab-active .arrow-left::before {
    left: 0;
}
.ui-tab-active .arrow-left::after {
    left: -2px;
}

.user-list li a {
    color: #fff;
    margin: 0;
    display: block;
    width: 100%;
    height: 100%;
}
.user-list li a:hover {
    color: #9de7f9;
    text-decoration-line: inherit;
}

span.help-tip::before {
    border-left: 8px solid #525252 !important;
}
span.help-tip {
    background-color: #525252 !important;
    border-radius: 0 !important;
    border: 1px solid silver !important;
    color: #fff !important;
    height: 25px !important;
}

.table td, .table th {
    line-height: 2 !important;
    padding: 8px 0 !important;
}