/*============================================== /
/ ================== HEADER ==================== /
/ ============================================== */
header {
    height: 80px;
    background-color: #F5F5F5;
    width: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    min-width: 1220px;
    position: fixed;
    z-index: 1000;
    border-top: 2px solid rgb(255, 195, 15);
}
/*============================================== /
/ ================== TOP HEADER ================ /
/ ============================================== */
.head-inner {
    position: fixed;
    height: 75px;
    width: 96%;
    margin: 5px 2% 0 2%;
    background-color: #2C3E50;
}
/* =================LOGO======================= */
.head-button{
    background-color: #2C3E50;
    color: white;
    text-align: center;
    position: relative;
    z-index: 100;
    min-height: 75px;
    float: left;
}
.head-button i {
    margin-right: 10px;
}
.head-button li.cur,
.head-button li.cur * {
    background-color: #28B463;
    transition: all .2s ease-in-out;
}

.head-button li {
    min-width: 100px;
    line-height: 75px;
    text-transform: uppercase;
    font-size: 13px;
    border: none;
    background-color: #2C3E50;
    color: #fff;
    border-radius: 0;
    display: inline-block;
    font-family: Helvetica;
    letter-spacing: 1px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    padding: 0 1px;
    vertical-align: middle;
    position: relative;
    border: 0;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
}
.head-button .head-nav a {
    padding: 30px 20px;
}
.head-button li a,
.head-button li i,
.head-button li span {
    background-color: #2C3E50;
    color: white;
    transition:all .2s ease-in-out;
    text-decoration: none;
}

.head-button li:hover{
    box-shadow: 0 0 1px 1px rgba(100,100,100,0.5) inset;
    transition: all .2s ease-in-out;
}
.head-button li:hover,
.head-button li:hover a,
.head-button li:hover i,
.head-button li:hover span {
    background-color: #2ECC71;
    transition: all .2s ease-in-out;
}
/* =================LOGO======================= */
.logo {
    width: 200px;
    text-align: center;
    height: 75px;
    vertical-align: middle;
    margin: auto;
    float: left;
}

img {
    padding: 1em;
    cursor: pointer;
    height: 55px;
    vertical-align: middle;
    margin: auto;
    padding: 10px 0px;
}
/* =================MENU======================= */
.login-area {
    float: left;
    position: relative;
    width: 1000px;
    z-index: 948;
}
.head-nav {
    float: left;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
    margin: 0;
    padding: 0;
}


.hdrOptions {
    position: absolute;
    right: 0;
}

.hdrOptions ul {
    margin: 0;
}


.sub-dashboard > li {
    display: inline-block;
    line-height: 50px;
    padding-left: 15px;
    padding-right: 15px;
}
.sub-dashboard .cur, .sub-dashboard .cur a:hover {
    background-color: #f7f7f7;
    color: #231f20;
}
.sub-dashboard a:hover {
    color : #f7f7f7;
}