@font-face {
    font-family: 'aaux_bd';
    src: url('../../font/aaux/aaux_pro_bd_osf-webfont.eot');
    src: url('../../font/aaux/aaux_pro_bd_osf-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../font/aaux/aaux_pro_bd_osf-webfont.woff') format('woff'),
    url('../../font/aaux/aaux_pro_bd_osf-webfont.ttf') format('truetype'),
    url('../../font/aaux/aaux_pro_bd_osf-webfont.svg#webfont') format('svg');
}

@font-face {
    font-family: 'aaux_rg_it';
    src: url('../../font/aaux/aaux_pro_rg_it_osf-webfont.eot');
    src: url('../../font/aaux/aaux_pro_rg_it_osf-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../font/aaux/aaux_pro_rg_it_osf-webfont.woff') format('woff'),
    url('../../font/aaux/aaux_pro_rg_it_osf-webfont.ttf') format('truetype'),
    url('../../font/aaux/aaux_pro_rg_it_osf-webfont.svg#webfont') format('svg');
}

@font-face {
    font-family: 'aaux_rg';
    src: url('../../font/aaux/aaux_pro_rg_osf-webfont.eot');
    src: url('../../font/aaux/aaux_pro_rg_osf-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../font/aaux/aaux_pro_rg_osf-webfont.woff') format('woff'),
    url('../../font/aaux/aaux_pro_rg_osf-webfont.ttf') format('truetype'),
    url('../../font/aaux/aaux_pro_rg_osf-webfont.svg#webfont') format('svg');
}

@font-face {
    font-family: 'aaux_th';
    src: url('../../font/aaux/aaux_pro_th.eot');
    src: url('../../font/aaux/aaux_pro_th.eot?#iefix') format('embedded-opentype'),
    url('../../font/aaux/aaux_pro_th.woff') format('woff'),
    url('../../font/aaux/aaux_pro_th.ttf') format('truetype'),
    url('../../font/aaux/aaux_pro_th.svg#webfont') format('svg');
}

.fb{
    font-weight:700
}
.gray{
    color : #999
}
.igray{
    color : #999;
    font-style: italic
}
.purple{
    color: #800080;
}
.des{
    color : #999;
    font-size : 12px
}
.tan,
.tan-ml{
    color : #beb9aa;
    font-size : 12px
}
.tan-ml{
    margin-left : 25px
}
.hint{
    margin : 0;
    font-size : 9px;
    color : #717174
}

.unit-text {
    color: grey;
    font-style: italic;
}
.normal-text {
    font-weight:normal;
    font-size:13px;
}
.font10 {
    font-size:10px;
}
.font11 {
    font-size:11px;
}
.font14 {
    font-size:14px;
}
.font18 {
    font-size:18px;
}
.firewall-table-header {
    color: #717174;
    font-weight: bold;
}
.text-ttu {
    text-transform: uppercase;

}

p.warning {
    font-size: .8em;
}

.capitalize {
    text-transform: capitalize;
}

