<div class="main-container">
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="md-toolbar-tools" translate="filter.filterBy"></h2>
            </div>
        </md-toolbar>
        <div>
            <h3 translate="filter.location"></h3>
            <md-list>
                <md-list-item ng-repeat="location in locations">
                    <md-checkbox data-name={{location.id}} ng-model="userType.selected"
                                 ng-change="change()" aria-label="Selection location">
                    </md-checkbox>
                                <span class="lbl fn-ellipsis"
                                      title={{locaiton.name}}>{{location.name}}</span>
                </md-list-item>
            </md-list>
           
            <div ng-show="!locationsLoaded()" style="padding: 0;">
                <div layout="row" layout-align="space-around">
                    <md-progress-circular md-mode="indeterminate" class="md-accent"></md-progress-circular>
                </div>
            </div>
        </div>

    </md-sidenav>

    <md-content style="padding-bottom: 5px; width: 100%;">
        <article md-whiteframe="5">
            <md-content>
                <md-toolbar layout="row" layout-align="center center">
                    <div class="md-toolbar-tools">
                        <h2><span translate="credentials.numberOfAccounts"></span>: {{credentials.length}}</h2>
                        <span flex></span>

                        <div class="md-toolbar-tools" id='table-search' ng-show="table.show">
                            <md-input-container md-no-float class="md-block search-tool">
                                <md-icon class="material-icons search-tool">search</md-icon>
                                <input ng-model="table.filter" class="search-tool"
                                       placeholder="{{'button.search' | translate}}">
                            </md-input-container>
                            <button class="md-icon-button md-button" type="button"
                                    ng-click="removeFilter()" aria-label="close">
                                <md-icon class="material-icons">close</md-icon>
                                <md-tooltip md-direction="bottom">
                                    {{"button.close" | translate}}
                                </md-tooltip>
                                <div class="md-ripple-container"></div>
                            </button>
                        </div>
                        <div class="md-toolbar-tools" ng-hide="table.show">
                            <div flex></div>
                            <button class="md-icon-button md-button" ng-click="table.show = true"
                                    aria-label="filter_list">
                                <md-icon class="material-icons">search</md-icon>
                                <md-tooltip md-direction="bottom">
                                    {{"button.search" | translate}}
                                </md-tooltip>

                                <div class="md-ripple-container"></div>
                            </button>
                            <md-button class="md-icon-button md-button" ng-click="renewCredentials()"
                                       ng-disabled="!onlyOneSelected()">
                                <md-icon class="material-icons">autorenew</md-icon>
                                <md-tooltip md-direction="bottom">
                                    {{"button.renewSelectedUser" | translate}}
                                </md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button md-button" ng-click="sendByEmail()"
                                       ng-disabled="!onlyOneSelected()">
                                <md-icon class="material-icons">email</md-icon>
                                <md-tooltip md-direction="bottom">
                                    {{"button.sendByEmail" | translate}}
                                </md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button md-button" ng-click="sendBySms()"
                                       ng-disabled="!onlyOneSelected() || hmngType != 'public'">
                                <md-icon class="material-icons">sms</md-icon>
                                <md-tooltip md-direction="bottom">
                                    {{"button.sendBySms" | translate}}
                                </md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button md-button"
                                       ng-click="deleteCredentials()" ng-disabled="!moreThanOneSelected()">
                                <md-icon class="material-icons">delete</md-icon>
                                <md-tooltip md-direction="bottom">
                                    {{"button.removeSelectedUsers" | translate}}
                                </md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button md-button"
                                       ng-click="exportSelectedUsers()"
                                       ng-disabled="!moreThanOneSelected()">
                                <md-icon class="material-icons">file_upload</md-icon>
                                <md-tooltip md-direction="bottom">
                                    {{"button.exportSelectedUsers" | translate}}
                                </md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button md-button" ng-click="refresh()">
                                <md-icon class="material-icons">refresh</md-icon>
                                <md-tooltip md-direction="bottom">
                                    {{"button.refresh" | translate}}
                                </md-tooltip>

                            </md-button>
                        </div>
                    </div>
                </md-toolbar>


                <div ng-show="credentialsLoaded()"
                     style="background-color: rgb(76,175,80); height: 5px; width: 100%"></div>
                <md-progress-linear ng-show="!credentialsLoaded()" md-mode="indeterminate"
                                    class="md-accent"></md-progress-linear>

                <div style="position: relative; min-height: 150px;">
                    <div ng-show="!credentialsLoaded()"
                         style="position: absolute;height: 100%;width: 100%;background-color: rgba(250,250,250,0.7);vertical-align: middle;">
                    </div>


                    <md-table-container>
                        <table md-table>
                            <thead md-head md-order="table.order">
                            <tr md-row>
                                <th md-column style="width: 5%">
                                    <div>
                                        <md-checkbox ng-change="selectAll()" ng-disabled="credentials.length <= 0"
                                                     ng-model="selectAllChecked" class="md-accent"
                                                     aria-label="Select All">
                                        </md-checkbox>
                                    </div>
                                </th>
                                <th md-column style="width: 20%" md-order-by='userName'>
                                    {{"credentials.table.username" | translate}}
                                </th>
                                <th md-column style="width: 20%" md-order-by='email'>
                                    {{"credentials.table.email" | translate}}
                                </th>
                                <th md-column style="width: 20%" md-order-by='phone'>
                                    {{'credentials.table.phone' | translate }}
                                </th>
                                <th md-column style="width: 10%" md-order-by='groupName'>
                                    {{"credentials.table.userGroup" | translate}}
                                </th>
                                <th md-column style="width: 5%" md-order-by='credentialType'>
                                    {{"credentials.table.credentialType" | translate}}
                                </th>
                                <th md-column style="width: 20%" md-order-by='expireTime'>
                                    {{"credentials.table.expireTime" | translate}}
                                </th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-row
                                ng-repeat="credential in credentials | orderBy: table.order | limitTo: itemsByPage: (currentPage - 1) * itemsByPage"
                                ng-click="selectOne(credential, true)" ng-class="{'tm-selected': credential.selected}">
                                <td md-cell>
                                    <div>
                                        <md-checkbox ng-model="credential.selected" class="md-accent"
                                                     ng-change="selectOne(credential, false)"
                                                     ng-click="$event.stopPropagation();"
                                                     aria-label="Select Credential">
                                    </div>
                                </td>
                                <td md-cell>
                                    <div>{{credential.userName}}</div>
                                </td>
                                <td md-cell>
                                    <div>{{credential.email}}</div>
                                </td>
                                <td md-cell>
                                    <div>{{credential.phone}}</div>
                                </td>
                                <td md-cell>
                                    <div>{{credential.groupName}}</div>
                                </td>
                                <td md-cell>
                                    <div>{{credential.credentialType | userType}}</div>
                                </td>
                                <td md-cell>
                                    <div>{{credential.expireTime | date : 'short' }}</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                    <md-table-pagination md-limit="itemsByPage" md-limit-options="[10, 20, 50, 100 ]"
                                         md-page="currentPage"
                                         md-total="{{credentials.length}}"></md-table-pagination>
                </div>
                <div class="grid-mark"
                     ng-style="credentialsLoaded() === true && {'display': 'none'}"></div>

            </md-content>
        </article>
    </md-content>
</div>
